* {
    background-color: rgb(20, 39, 49);
    margin: 0;
    padding: 0;
  }
  
  html, 
  body {
    font-size: 15px;
    background-color: #f5f6f7;
  }
  
  h1 {
    
    font-family: Lato, sans-serif;
    font-weight: 700;
    color: rgb(141, 130, 130);
  }

  .contenedor-principal {
    min-height: 400px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }